name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          # cache kald覺r覺ld覺 -> lock file aray覺p hata vermeyecek

      - name: Install (workspaces)
        run: npm ci --no-audit --no-fund

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Unit tests (backend)
        run: npm test